**Read the Colleges dataset and clean all the numeric attributes.
From all marks based attributes, remove % sign from different attributes. In SAT/ACT column, Keep higher value.
From all cost based attributes, Remove $ sign and commas.
Remove any null value in any attribute.**

In [32]:
import pandas as pd
import numpy as np

In [33]:
data = pd.read_csv('colleges.csv')

In [34]:
unwanted_character = ['%']

def remove_unwanted_character(data):
  separate_list = list(data.loc['*SAT or ACT'].split('%'))
  another_list = separate_list[0].split('/')
  if len(another_list) == 2:
    if another_list[0] < another_list[1]:
      return another_list[1]
    elif another_list[0] == another_list[1]:
      return another_list[0]
    else:
      return another_list[0]

  elif len(another_list) == 1:
    return another_list[0]  


data['*SAT or ACT'] = data.apply(remove_unwanted_character, axis = 1)
print(data['*SAT or ACT'])

0     99
1     92
2     93
3     98
4     94
      ..
95    77
96    55
97    92
98    79
99    72
Name: *SAT or ACT, Length: 100, dtype: object

In [35]:
def unwanted_dollar_sign(data):
  separate_list = list(data.loc['Total Costs'].split('$'))
  another_list_used = separate_list[1].split(',')
  return '' .join(another_list_used)


data['Total Costs'] = data.apply(unwanted_dollar_sign, axis = 1)
print(data['Total Costs'])

0     32682
1     28350
2     36550
3     38676
4     38492
       ...
95    38443
96    34472
97    39200
98    42121
99    40240
Name: Total Costs, Length: 100, dtype: object

In [36]:
data['Non-Need-Based Aid+'] = data['Non-Need-Based Aid+'].replace(np.nan , 0)
data.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank
0,1,California Institute of Technology,CA,939,21%,99,3,71%,85%,10,32682,"$10,981",100%,93%,"$18,553",15%,"$10,244",4
1,2,Rice University,TX,2787,24%,92,5,68%,89%,19,28350,"$14,779",100%,88%,"$22,418",34%,"$12,705",5
2,3,Williams College,MA,1985,23%,93,8,89%,94%,1,36550,"$14,737",100%,89%,"$33,251",0,"$12,316",26
3,4,Swarthmore College,PA,1479,24%,98,8,86%,92%,4,38676,"$17,386",100%,85%,"$11,404",2%,"$12,759",21
4,5,Amherst College,MA,1618,18%,94,9,84%,94%,5,38492,"$14,453",100%,92%,"$33,411",0,"$11,544",38